.tooltip_box
{
    position: absolute;
    left: -1000px;
    top: -1000px;
    background: #000000;
    border: 1px solid #999999;
    color: White;
    padding: 7px;
    border-radius: 5px;
    display: table-cell;
    z-index: 10000;
}
.tooltip_box:after, .tooltip_box:before
{
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.tooltip_box:after
{
    border-color: rgba(0, 0, 0, 0);
    border-width: 7px;
}
.tooltip_box:before
{
    border-color: rgba(153, 153, 153, 0);
    border-width: 8px;
}


/* BOTTOM */
.tooltip_box.bottom:after, .tooltip_box.bottom:before {
    bottom: 100%;
    left: 31px;
}
.tooltip_box.bottom:after {
    border-bottom-color: #000000;
    margin-left: -7px;
}
.tooltip_box.bottom:before {
    border-bottom-color: #999999;
    margin-left: -8px;
}


/* TOP */
.tooltip_box.top:after, .tooltip_box.top:before {
    top: 100%;
    left: 31px;
}
.tooltip_box.top:after {
    border-top-color: #000000;
    margin-left: -7px;
}
.tooltip_box.top:before {
    border-top-color: #999999;
    margin-left: -8px;            
}


/* RIGHT */
.tooltip_box.right:after, .tooltip_box.right:before {
    right: 100%;
    top: 13px;
}
.tooltip_box.right:after {
    border-right-color: #000000;
    margin-top: -7px;

}
.tooltip_box.right:before {
    border-right-color: #999999;
    margin-top: -8px;
}     


/* LEFT */
.tooltip_box.left:after, .tooltip_box.left:before {
    left: 100%;
    top: 13px;
}
.tooltip_box.left:after {
    border-left-color: #000000;
    margin-top: -7px;

}
.tooltip_box.left:before {
    border-left-color: #999999;
    margin-top: -8px;
}            
